Join player salary data to fb_ref player data to have final features for clustering built out

In [ ]:
import pandas as pd
import json
import numpy as np



# Import Drive API and authenticate.
from google.colab import drive

# Mount your Drive to the Colab VM.
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
path = "/content/drive/MyDrive/data/cleaned_player_with_shots.csv"
dfp= pd.read_csv(path)
dfp.shape

(705, 82)

In [ ]:
path = "/content/drive/MyDrive/data/player_salary.csv"
dfs= pd.read_csv(path)
dfs.shape

(871, 8)

In [ ]:
dfp.columns

Index(['Unnamed: 0', 'fb_id', 'player_name', 'Squad_from_op', 'Opposing_Poss',
       'Opposing_Touches', 'Nation', 'Position', 'Nineties', 'xA', 'Key_pass',
       'Comp_prog', 'Total_Cmp', 'Total_Att', 'Total_Cmp_pct',
       'Total_Tot_Dist', 'Total_Prg_Dist', 'Short_Cmp', 'Short_Att',
       'Short_Cmp_pct', 'Medium_Cmp', 'Medium_Att', 'Medium_Cmp_pct',
       'Long_Cmp', 'Long_Att', 'Long_Cmp_pct', 'touches', 'touches_def_box',
       'touches_def_3rd', 'touches_mid_3rd', 'touches_att_3rd',
       'touches_att_box', 'touch_live', 'dribble_Succ', 'dribble_Att',
       'dribble_Succ_pct', 'num_dribble_past', 'dribble_megs', 'carries',
       'carries_dist', 'carries_prog_dist', 'carries_prog', 'carries_att_3rd',
       'carries_att_box', 'miss_control', 'dispossed', 'recep_targ',
       'recep_succ', 'recept_pct', 'Yellow_cards', 'Red_cards',
       'Second_yellow', 'Fouls', 'Fouls_drawn', 'Offsides', 'Crosses',
       'def_interceptions', 'from_mish_tackles_won', 'PK_won', 'PK_conceded',
       'OG', 'Recoveries', 'Aerial_Duels_lost', 'Aerial_win_pct', 'Pos', 'Gls',
       'Sh', 'SoT', 'SoT%', 'Sh/90', 'SoT/90', 'G/Sh', 'G/SoT', 'Dist', 'FK',
       'PK', 'PKatt', 'xG', 'npxG', 'npxG/Sh', 'G-xG', 'np:G-xG'],
      dtype='object')

In [ ]:
squads = sorted(dfp['Squad_from_op'].unique())
squads

['Atlanta Utd',
 'Austin FC',
 'CF Montréal',
 'Chicago Fire',
 'Colorado Rapids',
 'Columbus Crew',
 'D.C. United',
 'FC Cincinnati',
 'FC Dallas',
 'Houston Dynamo',
 'Inter Miami',
 'LA Galaxy',
 'Los Angeles FC',
 'Minnesota Utd',
 'NY Red Bulls',
 'NYCFC',
 'Nashville',
 'New England',
 'Orlando City',
 'Philadelphia',
 'Portland Timbers',
 'Real Salt Lake',
 'San Jose',
 'Seattle',
 'Sporting KC',
 'Toronto FC',
 'Vancouver']

In [ ]:
# only need 2021 teams 
clubs = sorted(dfs['Club'].unique())
clubs.remove('Major League Soccer')
clubs.remove('Charlotte FC')
clubs

['Atlanta United',
 'Austin FC',
 'Chicago Fire',
 'Colorado Rapids',
 'Columbus Crew',
 'DC United',
 'FC Cincinnati',
 'FC Dallas',
 'Houston Dynamo',
 'Inter Miami',
 'LA Galaxy',
 'LAFC',
 'Minnesota United',
 'Montreal',
 'Nashville SC',
 'New England Revolution',
 'New York City FC',
 'New York Red Bulls',
 'Orlando City SC',
 'Philadelphia Union',
 'Portland Timbers',
 'Real Salt Lake',
 'San Jose Earthquakes',
 'Seattle Sounders FC',
 'Sporting Kansas City',
 'Toronto FC',
 'Vancouver Whitecaps']

In [ ]:
print('squads', len(squads), ' ',len(clubs),'clubs')

squads 27   27 clubs

In [ ]:
sorted(dfp['Squad_from_op'].unique())

['Atlanta Utd',
 'Austin FC',
 'CF Montréal',
 'Chicago Fire',
 'Colorado Rapids',
 'D.C. United',
 'FC Cincinnati',
 'FC Dallas',
 'Houston Dynamo',
 'Inter Miami',
 'Los Angeles FC',
 'Minnesota Utd',
 'NY Red Bulls',
 'NYCFC',
 'Nashville',
 'New England',
 'Orlando City',
 'Philadelphia',
 'Portland Timbers',
 'Real Salt Lake',
 'San Jose',
 'Seattle',
 'Sporting KC',
 'Toronto FC',
 'Vancouver']

In [ ]:
dfp['Squad_from_op'].replace(to_replace=squads,value=clubs,inplace=True)
sorted(dfp['Squad_from_op'].unique())

['Atlanta United',
 'Austin FC',
 'Chicago Fire',
 'Colorado Rapids',
 'Columbus Crew',
 'DC United',
 'FC Cincinnati',
 'FC Dallas',
 'Houston Dynamo',
 'Inter Miami',
 'LA Galaxy',
 'LAFC',
 'Minnesota United',
 'Montreal',
 'Nashville SC',
 'New England Revolution',
 'New York City FC',
 'New York Red Bulls',
 'Orlando City SC',
 'Philadelphia Union',
 'Portland Timbers',
 'Real Salt Lake',
 'San Jose Earthquakes',
 'Seattle Sounders FC',
 'Sporting Kansas City',
 'Toronto FC',
 'Vancouver Whitecaps']

In [ ]:
for i in squads:
  
  dfp['Squad_from_op'] = dfp['Squad_from_op'].str.replace(i,b)

In [ ]:
for a,b in zip(squads,clubs):
  dfp['Squad_from_op'] = dfp['Squad_from_op'].str.replace(a,b)

sorted(dfp['Squad_from_op'].unique())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

['Atlanta United',
 'Austin FC',
 'DC United',
 'LAFC',
 'Minnesota United',
 'Montreal',
 'New York City FC',
 'New York City FC SC',
 'New York Red Bulls',
 'New York Red Bulls Revolution',
 'Orlando City SC',
 'Philadelphia Union',
 'Portland Timbers',
 'Real Salt Lake',
 'San Jose Earthquakes',
 'Seattle Sounders FC',
 'Sporting Kansas City',
 'Toronto FC',
 'Vancouver Whitecaps']

In [ ]:
dfs['Club'].unique()

array(['Philadelphia Union', 'San Jose Earthquakes', 'Toronto FC',
       'Columbus Crew', 'DC United', 'Colorado Rapids', 'Nashville SC',
       'New York City FC', 'FC Cincinnati', 'FC Dallas', 'Inter Miami',
       'LA Galaxy', 'Atlanta United', 'Minnesota United',
       'Orlando City SC', 'Chicago Fire', 'New York Red Bulls', 'LAFC',
       'Charlotte FC', 'Seattle Sounders FC', 'Portland Timbers',
       'Vancouver Whitecaps', 'Houston Dynamo', 'Sporting Kansas City',
       'Montreal', 'New England Revolution', 'Austin FC',
       'Real Salt Lake', 'Major League Soccer'], dtype=object)

check length of single word player names

In [ ]:
dfp[dfp['player_name'] =='Judson']

     Unnamed: 0     fb_id player_name  ... npxG/Sh  G-xG  np:G-xG
435         435  e1535f82      Judson  ...    0.03  -0.3     -0.3

[1 rows x 82 columns]

In [ ]:
dfs[dfs['name'] == "Judson  "]

   Unnamed: 0 First Name  ... Guaranteed Compensation      name
1           1     Judson  ...             $365,000.00  Judson

[1 rows x 8 columns]

In [ ]:
jfp = ''
names_p = dfp['player_name'].astype(str)
for n,i in enumerate(names_p):
  if 'Jud' in i:
    print(n,i,len(i))
    jfp = i 
print(jfp,len(jfp))

435 Judson 6
Judson 6

In [ ]:
jfs=''
names = dfs['name'].astype(str)
for n,i in enumerate(names):
  if 'Judson' in i:
    print(n,i, len(i))
    jfs = i
print(jfs,len(jfs))

1 Judson   8
Judson   8

In [ ]:
print([i for i in jfs])

['J', 'u', 'd', 's', 'o', 'n', ' ', ' ']

remove space at end of name and put back in salary df

In [ ]:
singles = [i for i in dfs['name'] ]
print(len(singles))
for n,i in enumerate(singles):
  splits = i.split(' ')
  if len(splits[1]) == 0:
    print(splits[1]+ ' blank?',splits[0] + '= name')
    singles[n] = splits[0]

871

IndexError: ignored

In [ ]:
check = [i for i in singles if len(i) < 10]
singles[:5]

['Ilsinho', 'Judson', 'Auro', 'Paxten Aaronson', 'Saad Abdul-Salaam']

In [ ]:
dfs['name'] = singles
dfs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 871 entries, 0 to 870
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               871 non-null    int64
 1   First Name               871 non-null    object
 2   Last Name                871 non-null    object
 3   Club                     871 non-null    object
 4   Position(s)              863 non-null    object
 5   Base Salary              871 non-null    object
 6   Guaranteed Compensation  871 non-null    object
 7   name                     871 non-null    object
dtypes: int64(1), object(7)
memory usage: 54.6+ KB

In [ ]:
dfp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 705 entries, 0 to 704
Data columns (total 82 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             705 non-null    int64
 1   fb_id                  705 non-null    object
 2   player_name            705 non-null    object
 3   Squad_from_op          705 non-null    object
 4   Opposing_Poss          705 non-null    float64
 5   Opposing_Touches       705 non-null    int64
 6   Nation                 705 non-null    object
 7   Position               705 non-null    object
 8   Nineties               705 non-null    float64
 9   xA                     705 non-null    float64
 10  Key_pass               705 non-null    int64
 11  Comp_prog              705 non-null    float64
 12  Total_Cmp              705 non-null    int64
 13  Total_Att              705 non-null    int64
 14  Total_Cmp_pct          705 non-null    float64
 15  Total_Tot_Dist         705 non-null    int64
 16  Total_Prg_Dist         705 non-null    int64
 17  Short_Cmp              705 non-null    int64
 18  Short_Att              705 non-null    int64
 19  Short_Cmp_pct          705 non-null    float64
 20  Medium_Cmp             705 non-null    int64
 21  Medium_Att             705 non-null    int64
 22  Medium_Cmp_pct         705 non-null    float64
 23  Long_Cmp               705 non-null    int64
 24  Long_Att               705 non-null    int64
 25  Long_Cmp_pct           705 non-null    float64
 26  touches                705 non-null    int64
 27  touches_def_box        705 non-null    int64
 28  touches_def_3rd        705 non-null    int64
 29  touches_mid_3rd        705 non-null    int64
 30  touches_att_3rd        705 non-null    int64
 31  touches_att_box        705 non-null    int64
 32  touch_live             705 non-null    int64
 33  dribble_Succ           705 non-null    int64
 34  dribble_Att            705 non-null    int64
 35  dribble_Succ_pct       705 non-null    float64
 36  num_dribble_past       705 non-null    int64
 37  dribble_megs           705 non-null    int64
 38  carries                705 non-null    int64
 39  carries_dist           705 non-null    int64
 40  carries_prog_dist      705 non-null    int64
 41  carries_prog           705 non-null    int64
 42  carries_att_3rd        705 non-null    int64
 43  carries_att_box        705 non-null    int64
 44  miss_control           705 non-null    int64
 45  dispossed              705 non-null    int64
 46  recep_targ             705 non-null    int64
 47  recep_succ             705 non-null    int64
 48  recept_pct             705 non-null    float64
 49  Yellow_cards           705 non-null    int64
 50  Red_cards              705 non-null    int64
 51  Second_yellow          705 non-null    int64
 52  Fouls                  705 non-null    int64
 53  Fouls_drawn            705 non-null    int64
 54  Offsides               705 non-null    int64
 55  Crosses                705 non-null    int64
 56  def_interceptions      705 non-null    int64
 57  from_mish_tackles_won  705 non-null    int64
 58  PK_won                 705 non-null    int64
 59  PK_conceded            705 non-null    int64
 60  OG                     705 non-null    int64
 61  Recoveries             705 non-null    int64
 62  Aerial_Duels_lost      705 non-null    int64
 63  Aerial_win_pct         705 non-null    float64
 64  Pos                    705 non-null    object
 65  Gls                    705 non-null    int64
 66  Sh                     705 non-null    int64
 67  SoT                    705 non-null    int64
 68  SoT%                   589 non-null    float64
 69  Sh/90                  705 non-null    float64
 70  SoT/90                 705 non-null    float64
 71  G/Sh                   589 non-null    float64
 72  G/SoT                  520 non-null    float64
 73  Dist                   589 non-null    float64
 74  FK                     705 non-null    int64
 75  PK                     705 non-null    int64
 76  PKatt                  705 non-null    int64
 77  xG                     705 non-null    float64
 78  npxG                   705 non-null    float64
 79  npxG/Sh                589 non-null    float64
 80  G-xG                   705 non-null    float64
 81  np:G-xG                705 non-null    float64
dtypes: float64(22), int64(54), object(6)
memory usage: 451.8+ KB

create unique id to merge on to get larger match

In [ ]:
code_s=[]
for n,i in enumerate(dfs.iterrows()):

  begin = dfs.iloc[n]['name'].split()[0]
  # if len(begin) <4:


  squad_1 = dfs.iloc[n]['Club'].split()[0]
  # first letter of first part of club + len first name + first letter in first name 
  if len(dfs.iloc[n]['name'].split()) <2:
    code = squad_1[0:2]+str(len(dfs.iloc[n]['name'].split()[0]))+dfs.iloc[n]['name'].split()[0][0:4]
    code_s.append(code)
  else:
    code = squad_1[0:2]+str(len(dfs.iloc[n]['name'].split()[0]))+dfs.iloc[n]['name'].split()[0][0:4]+dfs.iloc[n]['name'].split()[1][0:2]
    code_s.append(code)
    
  if len(dfs.iloc[n]['name'].split()[0]) <4:
    print(n, dfs.iloc[n]['name'],dfs.iloc[n]['name'].split()[0], code)
print(len(code_s))
print(code_s[:3])

dfs['code'] = code_s

25 Ayo Akinola Ayo To3AyoAk
40 Tah Brian Anunga Tah Na3TahBr
65 Tom Barlow Tom Ne3TomBa
77 Jon Bell Jon Ne3JonBe
80 Joe Bendik Joe Ph3JoeBe
161 Jay Chapman Jay In3JayCh
179 Joe Corona Joe Ho3JoeCo
191 Abu Danladi Abu Na3AbuDa
201 AJ DeLaGarza AJ Ne2AJDe
232 Dom Dwyer Dom To3DomDw
237 Tom Edwards Tom Ne3TomEd
280 Ian Fray Ian In3IanFr
288 Jon Gallagher Jon Au3JonGa
319 Jan Gregus Jan Mi3JanGr
327 Joe Gyau Joe FC3JoeGy
361 Ian Hoffmann Ian Ho3IanHo
364 Rio Hope-Gund Rio Or3RioHo
384 Cal Jennings Cal LA3CalJe
399 Sam Junqua Sam Ho3SamJu
401 Ola Kamara Ola DC3OlaKa
408 Jon Kempin Jon DC3JonKe
422 Zan Kolmanic Zan Au3ZanKo
424 Kai Koreniuk Kai LA3KaiKo
449 Ake Loba Ake Na3AkeLo
461 Ben Lundgaard Ben At3BenLu
463 Ben Lundt Ben FC3BenLu
468 Zac MacMath Zac Re3ZacMa
474 JT Marcinkowski JT Sa2JTMa
496 Dax McCarty Dax Na3DaxMc
500 Zac McGraw Zac Po3ZacMc
511 Tim Melia Tim Sp3TimMe
526 Ben Mines Ben FC3BenMi
538 Kim Moon-Hwan Kim LA3KimMo
591 Ike Opara Ike Ma3IkeOp
604 Tim Parker Tim Ho3TimPa
714 CJ Sapong CJ Na2CJSa
715 Tor Saunders Tor Na3TorSa
750 Jan Sobocinksi Jan Ma3JanSo
770 Ben Sweat Ben Au3BenSw
774 DJ Taylor DJ Mi2DJTa
794 Wil Trapp Wil Mi3WilTr
800 Ema Twumasi Ema FC3EmaTw
827 Kai Wagner Kai Ph3KaiWa
845 Joe Willis Joe Na3JoeWi
856 Dru Yearwood Dru Ne3DruYe
871
['Ph7Ilsi', 'Sa6Juds', 'To4Auro']

In [ ]:
code_p = []

for n,i in enumerate(dfp.iterrows()):
  # print(dfp.iloc[n]['Squad_from_op'].split()[0])
  
  squad_1 = dfp.iloc[n]['Squad_from_op'].split()[0]
  if len(dfp.iloc[n]['player_name'].split()) < 2: 
    code = squad_1[0:2]+str(len(dfp.iloc[n]['player_name'].split()[0]))+dfp.iloc[n]['player_name'].split()[0][0:4]
    code_p.append(code)
  else:
    code = squad_1[0:2]+str(len(dfp.iloc[n]['player_name'].split()[0]))+dfp.iloc[n]['player_name'].split()[0][0:4]+dfp.iloc[n]['player_name'].split()[1][0:2]
    code_p.append(code)
  if len(dfp.iloc[n]['player_name'].split()[0]) <4:
    print(n, dfp.iloc[n]['player_name'],dfp.iloc[n]['player_name'].split()[0], code)
print(len(code_p))
print(code_p[:3]) 
dfp['code'] = code_p

21 Kai Wagner Kai Ph3KaiWa
31 Žan Kolmanič Žan Au3ŽanKo
69 Tom Edwards Tom NY3TomEd
106 Ola Kamara Ola D.3OlaKa
109 Joe Corona Joe Ho3JoeCo
125 Kim Moonhwan Kim Lo3KimMo
133 Dax McCarty Dax Na3DaxMc
134 Wil Trapp Wil Mi3WilTr
222 Jon Gallagher Jon Au3JonGa
238 Ema Twumasi Ema FC3EmaTw
245 Dru Yearwood Dru NY3DruYe
275 Ján Greguš Ján Mi3JánGr
287 Sam Vines Sam Co3SamVi
305 Jay Chapman Jay In3JayCh
315 Sam Junqua Sam Ho3SamJu
325 Joe Gyau Joe FC3JoeGy
328 Tom Barlow Tom NY3TomBa
413 Jon Bell Jon Ne3JonBe
424 Ayo Akinola Ayo To3AyoAk
470 Abu Danladi Abu Na3AbuDa
471 Léo Chú Léo Se3LéoCh
479 Ian Hoffmann Ian Ho3IanHo
487 Tim Parker Tim Ho3TimPa
500 Dom Dwyer Dom To3DomDw
529 Ben Sweat Ben Au3BenSw
571 Tim Melia Tim Sp3TimMe
577 Joe Willis Joe Na3JoeWi
615 Vuk Latinovich Vuk NY3VukLa
621 Tom Pettersson Tom FC3TomPe
622 Zac McGraw Zac Po3ZacMc
632 Cal Jennings Cal Lo3CalJe
639 Joe Bendik Joe Ph3JoeBe
661 Jon Kempin Jon D.3JonKe
663 Zac MacMath Zac Re3ZacMa
690 Mo Adams Mo At2MoAd
705
['Ne6CarlGi', 'D.6JuliGr', 'Mi7EmanRe']

In [ ]:
dfp[dfp['code'].duplicated()][['code','player_name']]

Empty DataFrame
Columns: [code, player_name]
Index: []

In [ ]:
dfs[dfs['code'].duplicated()].sum()

Unnamed: 0                 0.0
First Name                 0.0
Last Name                  0.0
Club                       0.0
Position(s)                0.0
Base Salary                0.0
Guaranteed Compensation    0.0
name                       0.0
code                       0.0
dtype: float64

In [ ]:
dfs[dfs['code']=='Sp6GrahZu']

     Unnamed: 0 First Name  ...         name       code
870         870     Graham  ...  Graham Zusi  Sp6GrahZu

[1 rows x 9 columns]

In [ ]:
dfp[dfp['code']=='Sp6GrahZu']

    Unnamed: 0     fb_id  player_name  ... G-xG  np:G-xG       code
59          59  9ba42447  Graham Zusi  ... -0.6     -0.6  Sp6GrahZu

[1 rows x 83 columns]

In [ ]:
df_drop = dfs.drop(dfs[dfs['code']=='Sp6GrahZu'].index)
dfs[dfs['code']=='Sp6GrahZu']

Empty DataFrame
Columns: [Unnamed: 0, First Name, Last Name, Club, Position(s), Base Salary, Guaranteed Compensation, name, code]
Index: []

In [ ]:
df_drop

     Unnamed: 0 First Name  ...               name       code
0             0    Ilsinho  ...            Ilsinho    Ph7Ilsi
1             1     Judson  ...             Judson    Sa6Juds
2             2       Auro  ...               Auro    To4Auro
3             3     Paxten  ...    Paxten Aaronson  Ph6PaxtAa
4             4       Saad  ...  Saad Abdul-Salaam  Co4SaadAb
..          ...        ...  ...                ...        ...
865         865     Walker  ...   Walker Zimmerman  Na6WalkZi
866         866       Kyle  ...        Kyle Zobeck  FC4KyleZo
867         867       Rida  ...        Rida Zouhir  Mo4RidaZo
868         868      Ethan  ...        Ethan Zubak  LA5EthaZu
869         869      Dario  ...      Dario Zuparic  Po5DariZu

[870 rows x 9 columns]

In [ ]:
dfs.drop_duplicates(subset=['code'],keep='last',inplace=True)

In [ ]:
dfp.drop_duplicates(subset=['code'],keep='last',inplace=True)

In [ ]:

dfs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 871 entries, 0 to 870
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               871 non-null    int64
 1   First Name               871 non-null    object
 2   Last Name                871 non-null    object
 3   Club                     871 non-null    object
 4   Position(s)              863 non-null    object
 5   Base Salary              871 non-null    object
 6   Guaranteed Compensation  871 non-null    object
 7   name                     871 non-null    object
 8   code                     871 non-null    object
dtypes: int64(1), object(8)
memory usage: 68.0+ KB

In [ ]:
df_drop1 = dfp.drop(dfp[dfp['code']=='Sp6GrahZu'].index)
df_drop1[df_drop1['code']=='Sp6GrahZu']

Empty DataFrame
Columns: [Unnamed: 0, fb_id, player_name, Squad_from_op, Opposing_Poss, Opposing_Touches, Nation, Position, Nineties, xA, Key_pass, Comp_prog, Total_Cmp, Total_Att, Total_Cmp_pct, Total_Tot_Dist, Total_Prg_Dist, Short_Cmp, Short_Att, Short_Cmp_pct, Medium_Cmp, Medium_Att, Medium_Cmp_pct, Long_Cmp, Long_Att, Long_Cmp_pct, touches, touches_def_box, touches_def_3rd, touches_mid_3rd, touches_att_3rd, touches_att_box, touch_live, dribble_Succ, dribble_Att, dribble_Succ_pct, num_dribble_past, dribble_megs, carries, carries_dist, carries_prog_dist, carries_prog, carries_att_3rd, carries_att_box, miss_control, dispossed, recep_targ, recep_succ, recept_pct, Yellow_cards, Red_cards, Second_yellow, Fouls, Fouls_drawn, Offsides, Crosses, def_interceptions, from_mish_tackles_won, PK_won, PK_conceded, OG, Recoveries, Aerial_Duels_lost, Aerial_win_pct, Pos, Gls, Sh, SoT, SoT%, Sh/90, SoT/90, G/Sh, G/SoT, Dist, FK, PK, PKatt, xG, npxG, npxG/Sh, G-xG, np:G-xG, code]
Index: []

[0 rows x 83 columns]

In [ ]:
df_code = pd.merge(df_drop1,df_drop,how='left',on=code,left_index=True)
df_code.info()

KeyError: ignored

In [ ]:
dfp['Squad_from_op'].unique()

array(['New England', 'D.C. United', 'Minnesota Utd', 'Real Salt Lake',
       'NYCFC', 'FC Cincinnati', 'Columbus Crew', 'CF Montréal',
       'Atlanta Utd', 'Chicago Fire', 'Seattle', 'Nashville',
       'Colorado Rapids', 'Portland Timbers', 'Inter Miami',
       'Orlando City', 'FC Dallas', 'LA Galaxy', 'Austin FC',
       'Philadelphia', 'Los Angeles FC', 'San Jose', 'Sporting KC',
       'NY Red Bulls', 'Vancouver', 'Toronto FC', 'Houston Dynamo'],
      dtype=object)

In [ ]:
dfs['Club'].unique()

array(['Philadelphia Union', 'San Jose Earthquakes', 'Toronto FC',
       'Columbus Crew', 'DC United', 'Colorado Rapids', 'Nashville SC',
       'New York City FC', 'FC Cincinnati', 'FC Dallas', 'Inter Miami',
       'LA Galaxy', 'Atlanta United', 'Minnesota United',
       'Orlando City SC', 'Chicago Fire', 'New York Red Bulls', 'LAFC',
       'Charlotte FC', 'Seattle Sounders FC', 'Portland Timbers',
       'Vancouver Whitecaps', 'Houston Dynamo', 'Sporting Kansas City',
       'Montreal', 'New England Revolution', 'Austin FC',
       'Real Salt Lake', 'Major League Soccer'], dtype=object)

In [ ]:
dfs[dfs['Club']=='Major League Soccer']

     Unnamed: 0 First Name  ... Guaranteed Compensation                 name
186         186       Cody  ...              $84,427.00         Cody Cropper
379         379       Adam  ...             $134,000.00            Adam Jahn
429         429       Matt  ...              $85,444.00         Matt Lampson
501         501      Riley  ...             $180,000.00         Riley Mcgree
591         591        Ike  ...             $685,333.00            Ike Opara
609         609     Matias  ...             $920,833.00    Matias Pellegrini
652         652    Gregory  ...              $81,375.00  Gregory Ranjitsingh
703         703     Sergio  ...             $363,000.00          Sergio Ruiz
750         750        Jan  ...             $146,250.00       Jan Sobocinksi

[9 rows x 8 columns]

In [ ]:
df_cat = pd.merge(dfp,dfs,how='inner',left_on='player_name',right_on='name',left_index=True)
print(df_cat.shape)
df_cat.head(3)

(524, 90)

     Unnamed: 0_x     fb_id  ... Guaranteed Compensation             name
299             0  11c30a46  ...           $3,045,833.00       Carles Gil
320             1  acd47bc0  ...             $760,781.00   Julian Gressel
665             2  614b26e3  ...             $966,910.00  Emanuel Reynoso

[3 rows x 90 columns]

In [ ]:
df_cat[df_cat['player_name']=='Judson']

   Unnamed: 0_x     fb_id  ... Guaranteed Compensation    name
1           435  e1535f82  ...             $365,000.00  Judson

[1 rows x 90 columns]

In [ ]:
df_left = pd.merge(dfp,dfs,how='left',left_on='player_name',right_on='name',left_index=True,indicator=True)
print(df_left.shape)
df_left['_merge'].value_counts()

(705, 93)

both          524
left_only     181
right_only      0
Name: _merge, dtype: int64

In [ ]:
df_left.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 705 entries, 299.0 to 330.0
Data columns (total 91 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0_x             705 non-null    int64
 1   fb_id                    705 non-null    object
 2   player_name              705 non-null    object
 3   Squad_from_op            705 non-null    object
 4   Opposing_Poss            705 non-null    float64
 5   Opposing_Touches         705 non-null    int64
 6   Nation                   705 non-null    object
 7   Position                 705 non-null    object
 8   Nineties                 705 non-null    float64
 9   xA                       705 non-null    float64
 10  Key_pass                 705 non-null    int64
 11  Comp_prog                705 non-null    float64
 12  Total_Cmp                705 non-null    int64
 13  Total_Att                705 non-null    int64
 14  Total_Cmp_pct            705 non-null    float64
 15  Total_Tot_Dist           705 non-null    int64
 16  Total_Prg_Dist           705 non-null    int64
 17  Short_Cmp                705 non-null    int64
 18  Short_Att                705 non-null    int64
 19  Short_Cmp_pct            705 non-null    float64
 20  Medium_Cmp               705 non-null    int64
 21  Medium_Att               705 non-null    int64
 22  Medium_Cmp_pct           705 non-null    float64
 23  Long_Cmp                 705 non-null    int64
 24  Long_Att                 705 non-null    int64
 25  Long_Cmp_pct             705 non-null    float64
 26  touches                  705 non-null    int64
 27  touches_def_box          705 non-null    int64
 28  touches_def_3rd          705 non-null    int64
 29  touches_mid_3rd          705 non-null    int64
 30  touches_att_3rd          705 non-null    int64
 31  touches_att_box          705 non-null    int64
 32  touch_live               705 non-null    int64
 33  dribble_Succ             705 non-null    int64
 34  dribble_Att              705 non-null    int64
 35  dribble_Succ_pct         705 non-null    float64
 36  num_dribble_past         705 non-null    int64
 37  dribble_megs             705 non-null    int64
 38  carries                  705 non-null    int64
 39  carries_dist             705 non-null    int64
 40  carries_prog_dist        705 non-null    int64
 41  carries_prog             705 non-null    int64
 42  carries_att_3rd          705 non-null    int64
 43  carries_att_box          705 non-null    int64
 44  miss_control             705 non-null    int64
 45  dispossed                705 non-null    int64
 46  recep_targ               705 non-null    int64
 47  recep_succ               705 non-null    int64
 48  recept_pct               705 non-null    float64
 49  Yellow_cards             705 non-null    int64
 50  Red_cards                705 non-null    int64
 51  Second_yellow            705 non-null    int64
 52  Fouls                    705 non-null    int64
 53  Fouls_drawn              705 non-null    int64
 54  Offsides                 705 non-null    int64
 55  Crosses                  705 non-null    int64
 56  def_interceptions        705 non-null    int64
 57  from_mish_tackles_won    705 non-null    int64
 58  PK_won                   705 non-null    int64
 59  PK_conceded              705 non-null    int64
 60  OG                       705 non-null    int64
 61  Recoveries               705 non-null    int64
 62  Aerial_Duels_lost        705 non-null    int64
 63  Aerial_win_pct           705 non-null    float64
 64  Pos                      705 non-null    object
 65  Gls                      705 non-null    int64
 66  Sh                       705 non-null    int64
 67  SoT                      705 non-null    int64
 68  SoT%                     589 non-null    float64
 69  Sh/90                    705 non-null    float64
 70  SoT/90                   705 non-null    float64
 71  G/Sh                     589 non-null    float64
 72  G/SoT                    520 non-null    float64
 73  Dist                     589 non-null    float64
 74  FK                       705 non-null    int64
 75  PK                       705 non-null    int64
 76  PKatt                    705 non-null    int64
 77  xG                       705 non-null    float64
 78  npxG                     705 non-null    float64
 79  npxG/Sh                  589 non-null    float64
 80  G-xG                     705 non-null    float64
 81  np:G-xG                  705 non-null    float64
 82  Unnamed: 0_y             524 non-null    float64
 83  First Name               524 non-null    object
 84  Last Name                524 non-null    object
 85  Club                     524 non-null    object
 86  Position(s)              524 non-null    object
 87  Base Salary              524 non-null    object
 88  Guaranteed Compensation  524 non-null    object
 89  name                     524 non-null    object
 90  _merge                   705 non-null    category
dtypes: category(1), float64(23), int64(54), object(13)
memory usage: 502.0+ KB

In [ ]:

# Mount your Drive to the Colab VM.
drive.mount('/gdrive')

# Write the DataFrame to CSV file.
with open('/gdrive/My Drive/data/players_stats_salary.csv', 'w') as f:
  df_left.to_csv(f)

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).

In [ ]:
only_l = df_left[df_left['_merge']=='left_only']
only_l.Nineties.value_counts().sort_values()

27.0    1
15.1    1
26.8    1
19.2    1
24.3    1
       ..
8.0     3
1.4     3
10.9    4
27.2    4
1.0     4
Name: Nineties, Length: 131, dtype: int64

some starters salary data was not added unfortunetly , right join does not work at all so will go with left join to fb_rf data and have you use position average salary for missing salarys

In [ ]:
dfr = pd.merge(dfp,dfs,how='right',left_on='player_name',right_on='name',left_index=True,indicator=True)
print(dfr.shape)
dfr['_merge'].value_counts()

(871, 91)

right_only    871
both            0
left_only       0
Name: _merge, dtype: int64

In [ ]:
dfr.head()

   Unnamed: 0_x fb_id  ...               name      _merge
0           NaN   NaN  ...            Ilsinho  right_only
1           NaN   NaN  ...             Judson  right_only
2           NaN   NaN  ...               Auro  right_only
3           NaN   NaN  ...    Paxten Aaronson  right_only
4           NaN   NaN  ...  Saad Abdul-Salaam  right_only

[5 rows x 91 columns]

In [ ]:
only_l.head()

     Unnamed: 0_x     fb_id  ... name     _merge
NaN             3  0adeafaa  ...  NaN  left_only
NaN             4  f99f37fc  ...  NaN  left_only
NaN             6  3ce30893  ...  NaN  left_only
NaN             9  31223bcf  ...  NaN  left_only
NaN            10  b96aa1d6  ...  NaN  left_only

[5 rows x 91 columns]

In [ ]:

names = df_cat['player_name'].astype(str)
df_cat['player_name'] =names
df_cat.info()# print(type(df_cat['player_name']))
# df_cat.query(df_cat['player_name']=='Judson')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 524 entries, 299 to 330
Data columns (total 90 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0_x             524 non-null    int64
 1   fb_id                    524 non-null    object
 2   player_name              524 non-null    object
 3   Squad_from_op            524 non-null    object
 4   Opposing_Poss            524 non-null    float64
 5   Opposing_Touches         524 non-null    int64
 6   Nation                   524 non-null    object
 7   Position                 524 non-null    object
 8   Nineties                 524 non-null    float64
 9   xA                       524 non-null    float64
 10  Key_pass                 524 non-null    int64
 11  Comp_prog                524 non-null    float64
 12  Total_Cmp                524 non-null    int64
 13  Total_Att                524 non-null    int64
 14  Total_Cmp_pct            524 non-null    float64
 15  Total_Tot_Dist           524 non-null    int64
 16  Total_Prg_Dist           524 non-null    int64
 17  Short_Cmp                524 non-null    int64
 18  Short_Att                524 non-null    int64
 19  Short_Cmp_pct            524 non-null    float64
 20  Medium_Cmp               524 non-null    int64
 21  Medium_Att               524 non-null    int64
 22  Medium_Cmp_pct           524 non-null    float64
 23  Long_Cmp                 524 non-null    int64
 24  Long_Att                 524 non-null    int64
 25  Long_Cmp_pct             524 non-null    float64
 26  touches                  524 non-null    int64
 27  touches_def_box          524 non-null    int64
 28  touches_def_3rd          524 non-null    int64
 29  touches_mid_3rd          524 non-null    int64
 30  touches_att_3rd          524 non-null    int64
 31  touches_att_box          524 non-null    int64
 32  touch_live               524 non-null    int64
 33  dribble_Succ             524 non-null    int64
 34  dribble_Att              524 non-null    int64
 35  dribble_Succ_pct         524 non-null    float64
 36  num_dribble_past         524 non-null    int64
 37  dribble_megs             524 non-null    int64
 38  carries                  524 non-null    int64
 39  carries_dist             524 non-null    int64
 40  carries_prog_dist        524 non-null    int64
 41  carries_prog             524 non-null    int64
 42  carries_att_3rd          524 non-null    int64
 43  carries_att_box          524 non-null    int64
 44  miss_control             524 non-null    int64
 45  dispossed                524 non-null    int64
 46  recep_targ               524 non-null    int64
 47  recep_succ               524 non-null    int64
 48  recept_pct               524 non-null    float64
 49  Yellow_cards             524 non-null    int64
 50  Red_cards                524 non-null    int64
 51  Second_yellow            524 non-null    int64
 52  Fouls                    524 non-null    int64
 53  Fouls_drawn              524 non-null    int64
 54  Offsides                 524 non-null    int64
 55  Crosses                  524 non-null    int64
 56  def_interceptions        524 non-null    int64
 57  from_mish_tackles_won    524 non-null    int64
 58  PK_won                   524 non-null    int64
 59  PK_conceded              524 non-null    int64
 60  OG                       524 non-null    int64
 61  Recoveries               524 non-null    int64
 62  Aerial_Duels_lost        524 non-null    int64
 63  Aerial_win_pct           524 non-null    float64
 64  Pos                      524 non-null    object
 65  Gls                      524 non-null    int64
 66  Sh                       524 non-null    int64
 67  SoT                      524 non-null    int64
 68  SoT%                     433 non-null    float64
 69  Sh/90                    524 non-null    float64
 70  SoT/90                   524 non-null    float64
 71  G/Sh                     433 non-null    float64
 72  G/SoT                    377 non-null    float64
 73  Dist                     433 non-null    float64
 74  FK                       524 non-null    int64
 75  PK                       524 non-null    int64
 76  PKatt                    524 non-null    int64
 77  xG                       524 non-null    float64
 78  npxG                     524 non-null    float64
 79  npxG/Sh                  433 non-null    float64
 80  G-xG                     524 non-null    float64
 81  np:G-xG                  524 non-null    float64
 82  Unnamed: 0_y             524 non-null    int64
 83  First Name               524 non-null    object
 84  Last Name                524 non-null    object
 85  Club                     524 non-null    object
 86  Position(s)              524 non-null    object
 87  Base Salary              524 non-null    object
 88  Guaranteed Compensation  524 non-null    object
 89  name                     524 non-null    object
dtypes: float64(22), int64(55), object(13)
memory usage: 372.5+ KB

In [ ]:
names = df_cat['player_name'].astype(str)
for n,i in enumerate(names):
  if 'Jud' in i:
    print(n,i)

In [ ]:
df_cat.iloc[435].T

Unnamed: 0_x                    435
fb_id                      e1535f82
player_name                  Judson
Squad_from_op              San Jose
Opposing_Poss                  47.4
                             ...
Club                            NaN
Position(s)                     NaN
Base Salary                     NaN
Guaranteed Compensation         NaN
name                            NaN
Name: nan, Length: 90, dtype: object